# Verification

Part of coding is verifying that your code works. Here, you usually won't do this by actually running the code on test cases. Instead, you'll walk through your code by hand and verify it using your problem solving skills.

## Tips and Tricks

Your original example is generally not a good test case. Good examples are large, and large test cases take a very long time to run through.

An efficient verification process:

1. walk through your code conceptually, similar to a detailed code review
2. identify "hot spots", these are high risk lines of code
3. use small test cases, most bugs turn up on these or edge cases

## Common Mistakes

- verifying the algorithm, not the code
  _It's easy to think you're testing, but actually just be walking through your algorithm again. Make sure to look at each line of code and "run it" in your head._

- blindly testing, without thinking it through
  _It's possible to execute" each line of code without thinking about what's happening until the end. Ensure you are getting the results you expect._

- quick & sloppy fixes for bugs
  _Don't panic if you find a bug, don't make the first fix you see. Instead think about why the bug is occurring and how the code should work. Make sure the fix is the right one._

When all is done, be sure to go through your code one last time for any improvements. Mention what you'd have done with more time, show that you are a person who cares about producing great work.